{% extends 'base.html' %}
{% block contents %}
<body>
    <div style="margin: 3% 10%">
        <br><br>
        <div class="card-body">
            <h1 class="card-title">{{blog.title}}</h1>
            <h4 class="card-subtitle mb-2 text-muted">{{blog.pub_date}}</h4>
            <p class="card-text">{{blog.body}}</p>
        </div>
        <br>
        <a href="{%url 'home'%}" style="display:block; text-align:right">
         <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="홈으로 돌아감니당">
           돌아가기
         </button></a> 
    </div>
</body>
{%endblock%}